.body{
  padding-left: 10%;
  padding-right: 10%;
  background-color: ghostwhite;
}

.header {
  color: red;
  text-decoration-color: red;
  background-color: black;
  text-decoration-color: black;
}

.footer{
  text-align: center;
}

img {
  width: 100%;
}

code{
  font-size: larger;
}